@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-image: url("https://source.unsplash.com/random/1920x1080/?wallpaper,landscape,nature");
   background-size: cover;
   background-repeat: no-repeat;
}

/* Container */
.container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: white;
   flex-direction: column;
   width: 350px;
   height: 370px;
   margin: auto;
   border-radius: 10px;
   background: rgba(0,0,0,0.8);
   backdrop-filter: saturate(180%) blur(10px);
}

/* Input */
.container .input-div {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 25px;
}

.input-div input[type="text"] {
   height: 35px;
   font-size: 0.95rem;
   margin-right: 5px;
   padding: 5px;
   border-radius: 14px;
   border: none;
   outline: none;
   transition: 0.3s all ease-in;
}

.input-div input[type="text"]:hover {
   opacity: 0.95;
}

.input-div input[type="text"]::placeholder {
   font-size: 0.75rem;
   font-style: italic;
   color: lightseagreen;
}

.input-div #submit-data {
   width: 3em;
   height: 3em;
   outline: none;
   font-size: 0.8rem;
   color: lightseagreen;
   border: none;
   border-radius: 50%;
   transition: 0.3s all ease-in;
}

.input-div #submit-data:hover {
   background-color: lightseagreen;
   color: white;
}

/* City-name, Description, Temperature, Humidity */
.container .city-name, .feels-like, #temperature, #humidity {
   margin: 8px;
}

.container .city-name {
   font-size: 1.4rem;
   margin: 5px;
}

.container .feels-like, #temperature, #humidity {
   text-transform: capitalize;
   font-size: 1.1rem;
}

/* Min/Max Temp */
.container .temps {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin: 15px;
   font-size: 0.9rem;
}

/* Media Query for Cellphones */
@media screen and (max-width: 500px) {
   .container {
      width: 285px;
      height: 370px;
   }

   .input-div input[type="text"] {
      font-size: 0.85rem;
      width: 65%;
   }
 
   .container .feels-like, #temperature, #humidity {
      font-size: 0.9rem;
   }

   .container .temps {
      font-size: 0.75rem;
   }
}